body {
  max-width: 650px;
  margin: 40px auto;
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #444;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}
h1, h2 {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
h3 {
    padding-left: 12px;
    line-height: 1.2;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #c9d1d9;
    background: #0d1117;
    
  }

  a:link {
    color: #58ff90;
  }

  a:visited {
    color: #f0e98e;
  }
}
